body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    /*background-color: #ff00006c;*/
    background-image: url(background.jpeg);
    background-size: cover;
}
/*h1 {
    color: #333;
}*/
titleText{
    font-family: Arial, sans-serif;
    text-align: center;
    color: #f0f0f0
}
form {
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: inline-block;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Darker green */
    
}
.buttonRed {
    background-color: #f44336; /* Red */
}
.buttonRed:hover {
    background-color: #c62828; /* Darker red */
}
.status {
    margin: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #cacaca
}
